
<div id="addUserModal" class="w3-modal w3-animate-zoom">
    <div class="w3-modal-content w3-card-4" style="width:50%">
        <header class="w3-container w3-blue">
            <span onclick="document.getElementById('addUserModal').style.display='none'"
                class="w3-button w3-large w3-display-topright">&times;</span>
            <h2>Add New Student</h2>
        </header>
        <div class="w3-container">
            <form>
                <div id="formflow">
                    <input placeholder="Student first name" name="studentfirstname" class="inputA" />
                    <input placeholder="Student last name" name="studentlastname" class="inputA" />
                    <input placeholder="Student email address" type="email" name="studentemail"
                        class="inputA" />
                    <input placeholder="Student phone number" name="studentphone" class="inputA" />
                    <textarea placeholder="Notes: nickname? billing contact? etc..." name="studentinfo"
                        class="inputA"></textarea>
                    <input class="w3-hover-blue" type="submit" style="margin-top:40px;margin-right:6px;" />
                </div>
            </form>
        </div>
        <footer class="w3-container">footer??
        </footer>
    </div>
</div>
