<div id="addUserModal" style='display:none'>
    <div class="w3-card-4" style="width:50%;margin-top:3px;" id="newtutordiv">
        <header class="w3-container w3-amber">
            <h3>Add a Student</h3>
        </header>
        <div class="w3-container">
            <form>
                <div id="formflow">
                    <input placeholder="Student's first name" name="tchrfirstname" class="inputA" required />
                    <input placeholder="Student's last name" name="tchrlastname" class="inputA" required />
                    <input placeholder="Student's email address" type="email" name="tchremail" class="inputA"
                        required />
                    <input placeholder="Student's phone number" name="tchrphone" class="inputA" required />
                    <input placeholder="Make password >= 8 digits" type="password" id="password" class="inputA"
                        required />
                    <input placeholder="Retype password" type="password" name="confirm_password" id="confirm_password"
                        class="inputA" required />
                    <span id='message'></span>
                </div>
            </form>
        </div>
        <footer class="w3-container w3-amber" class="modalfooter">
            <h6 class='splash' style="float:right;" click-id="#signInModal" id="tologin"><em>Submit</em></h6>
            <h6 class='splash' style="float:right;"
                onclick="document.getElementById('addUserModal').style.display='none'" click-id="#signInModal"
                id="tologin"><em>Cancel</em></h6>
        </footer>
    </div>
</div>