<!DOCTYPE html>
<html>
<nav>
    <div class="brand">
        <h1>enscribe</h1>
    </div>
    <div class="links">
        <a href="/whodis">Login</a>
        <a href="/about">About</a>
    </div>
</nav>
<head>
  <meta charset="utf-8">
  {{!-- w3 CSS --}}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {{!-- In-house JS --}}
  <link rel="stylesheet" href="/styles/auth.css" />
  <link rel="stylesheet" href="/styles/styles.css" />
  {{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand:300,400&display=swap" rel="stylesheet" />
  {{!-- jQuery --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
  <script src="/js/index.js"></script>
</body>

</html>