<div id="updateStudentModal" class="w3-modal w3-animate-zoom">
    <div class="w3-modal-content w3-card-4" style="width:50%">
        <header class="w3-container w3-light-green">
            <span onclick="document.getElementById('updateStudentModal').style.display='none'"
                class="w3-button w3-large w3-display-topright">&times;</span>
            <h2>Update Student Info</h2>
        </header>
        <div class="w3-container">
            <form>
                <div id="formflow">
                    <input placeholder="RES current first name" name="updatefirstname" class="inputA" />
                    <input placeholder="RES current last name" name="updatelastname" class="inputA" />
                    <input placeholder="RES current email address" type="email" name="updateemail"
                        class="inputA" />
                    <input placeholder="RES current phone number" name="updatephone" class="inputA" />
                    <textarea placeholder="RES from DB current notes" name="updateinfo" class="inputA">
                    </textarea>
                    <input class="w3-hover-blue" type="submit"
                        style="margin-top:40px;margin-right:6px;" />
                </div>
            </form>
        </div>
        <footer class="w3-container">footer??
        </footer>
    </div>
</div>