<nav>
    <div class="brand">
        <h1>enscribe</h1>
    </div>
    <div class="links">
        <a href="/whodis">Login</a>
    </div>
</nav>

<div class="tagline">
    <p>Welcome to <span>enscribe</span>, a note-taking app for tutors.</p>
</div>
<div id="introdiv">
    <p>Enscribe is a tool for tutors to share lesson notes with their students.</p>
    <p><strong>How it works:</strong> Tutors can add students to their rosters via email. Enscribe will automatically
        send out an email
        for new students to sign in.</p>
    <p>This app is for tutors and instructors who work with students one-on-one, such as music teachers who give
        private lessons, personal trainers, or academic tutors.</p>
</div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
        <img src="images/Hahn.png" style="width:45%">
        <h3 style="float:right;margin:30px;font-size:3.3em;">Tutor<br>Rooster <br>Rocks!</h3>
    </div>
</div>