<nav>
    <div class="brand">
        <h1>enscribe</h1>
        <i class="fas fa-pen-nib"></i>
    </div>
    <div class="links">
        <a href="/whodis">Login</a>
        <a href="/about">About</a>
    </div>
</nav>

<div class="tagline">
    <p>Welcome to <span>enscribe</span>, a note-taking app for tutors.</p>
</div>
<div id="introdiv">
    <p><span>enscribe</span> is a tool for tutors to share lesson notes with their students.
        <p>This app is perfect for instructors who work with students one-on-one!</p>
    </p>
    <strong>How it works:</strong>
    <p>Instructors can add students to their rosters via email.</p>
    <p>Select a student to open their directory of lessons where the you can add lessons and notes.</p>
</div>