    <header>
        <h1>Tutor Rooster About<img src="images/rooster-logo.jpg" alt="rooster" style="float:right;height:50px;margin-right:20px;"></h1>
    </header>

    <div class="w3-container"><img src="images/Hahn.png" alt="rooster" style="float:left;height:180px;margin-left:60px;margin-top:40px;"
            onclick="document.getElementById('modal01').style.display='block'">
        <div id="introdiv">
            <p>Tutor Rooster... a tool for tutors.</p>
            <p>This is a place where tutors can store and manage student rosters and lesson notes, and students can
                access lesson notes and resources from their instructors.</p>
            <p>How it works: When a teacher or tutor has a new student, they can add the student to their roster, then
                give the student a sign-in link and password.</p>
            <p>This app is for tutors and instructors who work with students one-on-one, such as music teachers who give
                private lessons, personal trainers, or academic tutors.</p>
        </div>
    </div>

    <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom">
            <img src="images/Hahn.png" style="width:45%">
            <h3 style="float:right;margin:30px;font-size:3.3em;">Tutor<br>Rooster <br>Rocks!</h3>
        </div>
    </div>

    <h5>"footer"</h5>

