<nav>
    <div class="brand">
        <h1>enscribe</h1>
        <i class="fas fa-pen-nib"></i>
    </div>
    <div class="links">
        <span id="logout">Logout</span>
    </div>
</nav>

<div id="app-container">
    {{>students/student-block id=id firstName=firstName lastName=lastName notes=notes display="block" displayActions="none"}}
</div>