<div id="updateLessonNotes" class="w3-modal w3-animate-zoom">
    <div class="w3-modal-content w3-card-4" style="width:60%">
        <header class="w3-container w3-light-blue">
            <span onclick="document.getElementById('updateLessonNotes').style.display='none'"
                class="w3-button w3-large w3-display-topright">&times;</span>
            <h2>Edit Lesson Notes</h2>
        </header>
        <div class="w3-container">
                <div id="formflow">
                    <input placeholder="RES from DB lesson title" name="lessontitle" class="inputA" />
                    <textarea placeholder="RES from DB lesson Notes" name="lessonnotes" class="inputA"></textarea>
                    <input class="w3-hover-light-blue" type="submit" style="margin-top:40px;margin-right:6px;" />
                </div>
        </div>
        <footer class="w3-container">footer???
        </footer>
    </div>
</div>
