.list-group-item {
  line-height: 2.5;
}

body {
  height: 100vh;
}

#introdiv {
  width: 75%;
  font-size: 1.4em;
  border: 6px solid rgb(240, 240, 240);
  margin: 20px auto;
  padding: 0px 40px;
}
#app-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* border: 1px solid black; */
  width: 100vw;
  height: 100vh;
}
#home {
  width: 33vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
  overflow: scroll;
}

#students-container {
  width: 66vw;
  height: 100vh;
  display: flex;
  /* border: 1px solid yellow; */
}

.student-body {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* border: 1px solid purple; */
  overflow: scroll;
}

.lesson-body {
  width: 50%;
  height: 100vh;
  display: flex;
  /* border: 1px solid purple; */
  overflow: scroll;
}

#lesson-notes {
  padding: 20px;
  padding-top: 0px;
}

.section-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-left: 20px;
  justify-content: space-between;
}
#topic-header {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2rem;
}
.date {
  color: grey;
  font-size: 0.75em;
}

/* #tagline {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  margin: 5px auto;
} */

#startdiv,
#newtutordiv {
  margin: 40px auto;
}

.splash {
  width: 50%;
  background-color: rgb(240, 240, 240);
  border-radius: 24px;
  padding: 5px 0px;
  margin: 10px 0 10px 0;
  text-align: center;
}

.splash:hover {
  background-color: gainsboro;
}

#formflow {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px auto 10px auto;
}

/* Student modal */

.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
  background-color: #0000006c;
}

#addStudentModal,
#addLessonModal {
  display: none;
}

.add-student-container {
  margin: 100px auto 0;
  height: fit-content;
  background-color: #fff;
  padding: 5px 70px;
  border-radius: 12px;
  color: #383838;
  min-width: 700px;
}

.form-modal input {
  background-color: #fff;
}

.form-modal .form-group {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
}

.form-modal .form-group > label {
  font-size: 1em;
}

.form-modal .form-group > input {
  border: 1px solid #3567d3;
  color: #383838;
}

.form-modal .form-group > input:focus {
  border: 2px solid #3567d3;
}

.header-modal-student {
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
  color: #3567d3;
}

.modal-row {
  display: flex;
  justify-content: space-between;
}

.column-left,
.column-right {
  width: 45%;
}

textarea#notes {
  border: 1px solid #3567d3;
  border-radius: 12px;
  font-size: 1.3em;
  padding: 3px 10px;
}

textarea#notes:focus {
  border: 2px solid #3567d3;
  border-radius: 12px;
  outline: none;
  padding: 2px 9px;
}

.modal-student-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.modal-student-input > span {
  color: #ff9252;
}

.modal-student-input > span:hover {
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}

.form-modal > .modal-student-input > button.form-button {
  background-color: #f0f0f0;
}

.form-modal > .modal-student-input > button.form-button:hover {
  cursor: pointer;
  background-color: #3567d3;
  color: #f0f0f0;
}

.form-modal > .modal-student-input > button.form-button:focus {
  background-color: #3567d3;
  color: #f0f0f0;
  outline: none;
}

