.list-group-item {
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid lightgrey;
}
.list-group-item:first-child {
  border: none;
}

ul.list-group {
  padding: 0;
}

button#lesson-modal {
  border: none;
  background-color: unset;
  color: #f0f0f0;
  font-size: 1.7em;
}

button#lesson-modal:hover {
  color: #29ee85;
}

button#lesson-modal:focus {
  color: #29ee85;
  outline: none;
}


#student-list-container {
  overflow: scroll;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  height: 100vh;
}

.lesson-list-container {
  height: 83vh;
  overflow: scroll;
}

body {
  height: 100vh;
}

/* button#lesson-modal {
  border: none;
  background-color: unset;
  color: #383838;
  font-size: 1.7em;
 }
 
 button#lesson-modal:hover {
  color: #3567d3;
 }
 
 button#lesson-modal:focus {
  color: #3567d3;
  outline: none;
 } */

#introdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2rem;
  width: 55%;
  font-size: 1.4em;
  border: 1px solid rgb(240, 240, 240);
  box-shadow: 0 0 7px #00000067;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px 40px 40px;
}
#introdiv > p > span {
  font-family: "Pacifico", cursive;
  font-size: 1.2em;
  color: #3567d3;
}

#introdiv > strong {
  font-weight: bolder;
}

#app-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 30px;
  width: 100vw;
  /* height: 100vh; */
  height: 80vh;
  max-height: 800px;
}

#home {
  border-radius: 12px;
  box-shadow: 0 0 7px #00000067;
}

#home {
  width: 30vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#students-container {
  width: 60vw;
  overflow: scroll;
  height: inherit;
  display: flex;
  /* border-right: 1px solid lightgray; */
}

.student-body {
  width: 50%;
  height: 91vh;
  display: flex;
  flex-direction: row;
  border-radius: 12px 0;
}

.lesson-body {
  width: 50%;
  height: 92vh;
  display: flex;
  /* overflow: scroll; */
}

.lesson-body > div {
  border-radius: 0 12px 0 0;
}

#lesson-notes {
  padding: 20px;
  padding-top: 0px;
  height: 83vh;
  overflow: scroll;
}

.section-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  padding-left: 20px;
  justify-content: space-between;
  background-color: #3567d3;
  color: #f0f0f0;
  border-radius: 12px 0 0;
}

.section-header > h3 {
  font-size: 1.6em;
  font-weight: 300;
}

/* #topic-header {
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2rem;
} */
.date {
  color: grey;
  font-size: 0.75em;
}

/* #tagline {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  margin: 5px auto;
} */

#startdiv,
#newtutordiv {
  margin: 40px auto;
}

.splash {
  width: 50%;
  background-color: rgb(240, 240, 240);
  border-radius: 24px;
  padding: 5px 0px;
  margin: 10px 0 10px 0;
  text-align: center;
}

.splash:hover {
  background-color: gainsboro;
}

#formflow {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px auto 10px auto;
}

/* Student modal */

.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
  background-color: #0000006c;
}

#addStudentModal,
#addLessonModal {
  display: none;
}

.add-student-container {
  margin: 100px auto 0;
  height: fit-content;
  background-color: #fff;
  padding: 5px 70px;
  border-radius: 12px;
  color: #383838;
  min-width: 700px;
}

.form-modal input {
  background-color: #fff;
}

.form-modal .form-group {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
}

.form-modal .form-group > label {
  font-size: 1em;
}

.form-modal .form-group > input {
  border: 1px solid #3567d3;
  color: #383838;
}

.form-modal .form-group > input:focus {
  border: 2px solid #3567d3;
}

.header-modal-student {
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
  color: #3567d3;
}

.modal-row {
  display: flex;
  justify-content: space-between;
}

.column-left,
.column-right {
  width: 45%;
}

button.student-modal {
  border: none;
  background-color: unset;
  font-size: 2em;
  color: #f0f0f0;
}

button.student-modal:hover {
  color: #29ee85;
}

button.student-modal:focus {
  outline: none;
  color: #29ee85;
}

button.student-modal.small {
  font-size: 1.2em;
  color: #7e7e7e;
}

button.student-modal.small:hover,
button.student-modal.small:focus {
  color: #ff9252;
}

textarea#new-notes,
textarea#content {
  border: 1px solid #3567d3;
  border-radius: 12px;
  font-size: 1.3em;
  padding: 3px 10px;
}

textarea#new-notes:focus,
textarea#content:focus {
  border: 2px solid #3567d3;
  border-radius: 12px;
  outline: none;
  padding: 2px 9px;
}

.modal-student-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.modal-student-input > span {
  color: #ff9252;
}

.modal-student-input > span:hover {
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}

.form-modal > .modal-student-input > button.form-button,
button#add-lesson {
  background-color: #f0f0f0;
}

.form-modal > .modal-student-input > button.form-button:hover,
button#add-lesson:hover {
  cursor: pointer;
  background-color: #3567d3;
  color: #f0f0f0;
}

.form-modal > .modal-student-input > button.form-button:focus,
button#add-lesson:focus {
  background-color: #3567d3;
  color: #f0f0f0;
  outline: none;
}

#logo {
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: #3567d3;
}
