<div class="lesson-body" id="{{this.id}}-lesson" style="display:none">
    <div class="section-header">
        <h3 id="topic-header">{{this.topic}}</h3>
    </div>
    <div id="lesson-notes">
        <p>{{this.body}}</p>
    </div>
</div>