<div class="lesson-body" id="{{this.id}}-lesson" style="display:none">
    <div class="section-header">
        <p id="topic-header">{{this.topic}}<p>
    </div>
    <div id="lesson-notes">
        <p>{{this.body}}</p>
    </div>
</div>