<div class="lesson-body" id="{{this.id}}-lesson" style="display:none">
    <div class="section-header">
<<<<<<< HEAD
        <h3 id="topic-header">{{this.topic}}</h3>
=======
        <h3>{{this.topic}}<h3>
>>>>>>> ed985bccb990b90e437828c69734855cf37b5ae2
    </div>
    <div id="lesson-notes">
        <p>{{this.body}}</p>
    </div>
</div>